<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantilla/plantillaPrincipal}">
<head th:fragment="head">
<meta charset="utf-8">

<link rel="stylesheet"
	th:href="@{/themes/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
<link rel="stylesheet"
	th:href="@{/themes/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
<link rel="stylesheet"
	th:href="@{/themes/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">

<link rel="stylesheet"
	th:href="@{/themes/dist/css/adminlte.min.css?v=3.2.0}">

</head>

<body>
	<main id="main" class="content">
		<section class="section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Reportes Disponibilidad</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body" layout:fragment="content">
									<form>
										<input type="date" name="fechaInicio"
											placeholder="Fecha inicio"> <input type="date"
											name="fechaFin" placeholder="Fecha fin">
										<button type="submit">Buscar</button>
									</form>
									<table id="example1"class="table table-bordered table-striped">
										<thead>
											<tr>
												<th scope="col">Nro.</th>
												<th scope="col">Hora</th>
												<th scope="col">Dia 1</th>
												<th scope="col">Dia 2</th>
												<th scope="col">Dia 3</th>
												<th scope="col">Dia 4</th>
												<th scope="col">Dia 5</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="disponible : ${consultaDispo}">
												
												<th th:text="${disponible.DSP_SECUENCIAL}"></th>
												<td th:text="${disponible.DSP_HORA}"></td>
												<td th:text="${disponible.DSP_DIA1}"></td>
												<td th:text="${disponible.DSP_DIA2}"></td>
												<td th:text="${disponible.DSP_DIA3}"></td>
												<td th:text="${disponible.DSP_DIA4}"></td>
												<td th:text="${disponible.DSP_DIA5}"></td>
											</tr>										
										</tbody>
									</table>

							</div>

						</div>
					</div>

				</div>

			</div>

		</section>

	</main>
</body>
</html>